@import url('https://fonts.googleapis.com/css2?family=Lacquer&display=swap');

/* Center the header */
header {
    text-align: center;
    margin-top: 20px;
    color: rgb(97, 223, 127);
}

.lacquer-regular {
  font-family: "Lacquer", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 45px;
  margin-top: 0px;
  margin-bottom: 20px;
}


/* Center the main p */
main p {
    text-align: center;
    color: white;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    height: auto;
}

body { 
    background-color: #23272f
}
  /* Center the form and add spacing */
  form {
    text-align: center;
    margin-top: 20px;
    color: white;
  }
  
  input[type="search"] {
    margin-left: 10px;
  }
  
  input[type="submit"] {
    margin-left: 10px;
  }