/*result table styling*/

table {
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

th {
    text-align: left;
    font-size: 30px;
    color: rgb(97, 223, 127);
    padding: 20px;

}

td {
    text-align: justify;
    padding: 20px;
    font-size: 20px;
    color:whitesmoke;
}

.results-tr:hover {
    cursor: pointer;
    background-color: rgb(127, 191, 181, 0.3);
}
