/*result table styling*/

table {
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

th {
    text-align: left;
    font-size: 30px;
    color: rgb(97, 223, 127);
    padding: 20px;

}

/*a is the Link represents the link tag in jsx, used in MovieProfile.js*/
td, a {
    text-align: justify;
    padding: 20px;
    font-size: 15px;
    color:whitesmoke;
    text-decoration-line: none;
}

.results-tr:hover {
    cursor: pointer;
    background-color: rgb(127, 191, 181, 0.3);
}
